#garden-body{
	display:  grid;
	margin: 20px;
	padding: 10px;
  grid-template-columns: auto auto auto auto;
  text-align: justify;
}
.book{
  margin: 5px;
  padding: 5px;

}

#head {
	display: flex;
  justify-content: center;
}
.book-tital{
  text-align: center;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  font-size: 20px; 
}

input {
  border: 2px solid black;
  border-radius: 2px;
  padding: 5px;
}
p {
  padding: 5px;
  margin: 8px;
  text-align: justify;
}
img{
  padding: 2px;
  margin: 15px;
}
a{
  text-align: center;
  padding: 5px;
  margin: 8px;
  text-decoration: none;
  color: #4CAF50;
}
ul {
  list-style-type: none;
  margin: 20px 0px 20px 0px;
  padding: 5px;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
.more{
  display: none;
}
.dots{
  display: inline;
}
button{
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}